body{
    background-color: #c0b7b3;
}
thead{
    background-color: #B97A57;
}
.btn{
    background-color: #B97A57;
}
.btn:hover{
    background-color: black;
    color: #E3E3E3;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #777;
}